doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Finance | CAR.com
    script(src="/js/bundle.js", async, defer)
    link(rel="canonical", href="https://finance.car.com")
  body
    div(id="app-root")
    p 404 ERROR  
