<p>
  Internet fraud is a growing problem and websites such as autobytel.com are not immune to
  such problems. We have received reports that Internet scam artists are illegally using
  Autobytel’s name, logo and other proprietary property in connection with the operation of
  fraudulent websites claiming to provide automotive escrow services offered by Autobytel.
  This scam involves the purported sale of vehicles that the perpetrators of the scam do not
  own or have the rights to sell and that are listed for sale on third party websites not
  affiliated with Autobytel. Among other things, the scammers claim that Autobytel will
  escrow money for the purchase of a vehicle and deliver the vehicle to the purchaser.
</p>
<p>
  <b>
    Autobytel does not provide any vehicle escrow, warehousing or shipping or delivery services,
    and any website or seller of vehicles claiming that Autobytel offers such services is fraudulent.
  </b>
</p>
<p>
  Because there is no foolproof way to prevent fraud, awareness is the best defense. Please exercise
  a great deal of caution and common sense in all transactions involving the sale of vehicles
  over the internet where you have not personally inspected the vehicle, met the seller and confirmed
  the seller’s ownership of and right to sell the vehicle. If any purported vehicle seller suggests
  using an escrow service operated by or affiliated with Autobytel or directs the buyer to any
  website offering escrow services provided by Autobytel or any person or entity affiliated with
  Autobytel or that displays our name or logos or otherwise implies that the services are offered
  by Autobytel, do <b>NOT</b> send any money to that service. Please help stop this fraud by promptly
  reporting such communications to us and to law enforcement by taking the following steps:
</p>
<ul>
  <li>
    <b>Step 1</b>: Email us at&nbsp;<a href="mailto:consumercare@autobytel.com">consumercare@autobytel.com</a>&nbsp;with
    as much information about your particular situation as possible. Provide us your name and telephone
    number so that we can contact you to obtain additional information. Forward any emails or other
    communications with the seller to us without changing the subject line or sending it as an attachment.
  </li>
  <li>
    <b>Step 2</b>: File a complaint with the operator of the website where you found the advertisement for the vehicle.
  </li>
  <li>
    <b>Step 3</b>: File a complaint with the
    <a href="http://www.ic3.gov/default.aspx" target="_blank">Internet Fraud Complaint Center</a>
    [http://www.ic3.gov/default.aspx] to inform federal and state law enforcement agencies about this scam.
    We strongly recommend that you report fraud to local law enforcement as well and to state regulatory authorities
    that regulate escrow companies in your state. In California, complaints regarding fraudulent escrow services
    can be filed with the Department of <a href="http://www.dbo.ca.gov/" target="_blank">Business Oversight</a>
    [http://www.dbo.ca.gov/]
  </li>
</ul>
<p>
  The following resources provide information and tips about Internet fraud and how to avoid becoming a victim of such fraud.
</p>
<h3>Internet Fraud Complaint Center (IFCC)</h3>
<ul>
  <li>
    <a href="http://www.ic3.gov/preventiontips.aspx" target="blank">Internet Crime Prevention Tips</a>
    [http://www.ic3.gov/preventiontips.aspx]
  </li>
</ul>
<h3>Federal Bureau of Investigation</h3>
<ul>
  <li>
    <a href="https://www.fbi.gov/scams-and-safety/common-fraud-schemes/internet-fraud" target="blank">Common Fraud Schemes</a>
    [https://www.fbi.gov/scams-and-safety/common-fraud-schemes/internet-fraud]
  </li>
</ul>
<h3>Federal Trade Commission (FTC) OnGuardOnline.gov</h3>
<ul>
  <li>
    <a href="https://www.onguardonline.gov/articles/0001-avoiding-online-scams" target="blank">Avoiding Online Scams</a>
    [https://www.onguardonline.gov/articles/0001-avoiding-online-scams]
  </li>
</ul>
<h3>California Department of Business Oversight</h3>
<ul>
  <li>
    <a href="http://www.dbo.ca.gov/Consumers/finance/pdf/10tips.pdf" target="blank">Top 10 Tips to Avoid Online Escrow Fraud</a>
    [http://www.dbo.ca.gov/Consumers/finance/pdf/10tips.pdf]
  </li>
  <li>
    <a href="http://www.dbo.ca.gov/Consumers/finance/pdf/qa.pdf" target="blank">Online Escrow Fraud: Questions and Answers</a>
    [http://www.dbo.ca.gov/Consumers/finance/pdf/qa.pdf]
  </li>
</ul>