<h3>Patents</h3>
<p>
  Certain features and/or services are protected by patent rights, including without limitation: U.S. Patent No. 6,282,517 and 6,922,674.
</p>
<h3>Copyright</h3>
<p>Copyright © 1996-2016 Autobytel Inc. All rights reserved.</p>
<p>
  All content included on this website, such as text, graphics, logos, button icons, images, digital downloads, data
  compilations, and software, is the property of Autobytel, its licensors or its content suppliers and is protected by
  United States and international copyright laws. The compilation of all content on this website is the exclusive property
  of Autobytel and is protected by U.S. and international copyright laws. All software used on this website is the property
  of Autobytel or its software suppliers and is protected by United States and international copyright laws.
</p>
<h3>Trademarks</h3>
<p>
  The registered trademarks of Autobytel and its subsidiaries, including AUTOBYTEL®, are listed on Schedule I hereto.
  All other marks that appear in connection with the products are services described on this website belong to Autobytel
  or the respective owners of such marks and are protected by U.S. and international trademark laws. Use of any of these
  marks without the written consent of Autobytel or the owner of the mark, as appropriate, is strictly prohibited.
</p>