<p>
  This Terms of Use applies to websites owned and operated by Autobytel Inc., 18872 MacArthur
  Blvd., Suite 200, Irvine, California 92612 ("<b>Autobytel</b>" or "<b>Company</b>"). Such websites are
  referred to herein as "Autobytel Websites."
</p>
<p>
  The Autobytel Websites, including the services and features contained herein, are offered to you,
  the user, conditioned on your acceptance of, and agreement in the manner set forth herein to be
  bound by, without modification, all the terms and conditions contained within these Terms of Use
  ("<b>Terms of Use</b>"). The Terms of Use also apply to any co-branded or framed version of the Website.
</p>
<p>
  By accessing, browsing and/or using the Autobytel Websites, you acknowledge that you have read,
  understood, and agree, to be bound by the Terms of Use and the terms of the
  <a href="http://www.autobytel.com/privacy-policy/" target="blank">Autobytel Privacy Policy</a>,
  which is incorporated by reference into these Terms of Use and can be reviewed by clicking on the
  following link Autobytel Privacy Policy, and to comply with all applicable laws, rules and regulations
  associated with your use of the Autobytel Websites. If you do not agree to the Terms of Use, you are
  not authorized to use the Autobytel Websites. The material provided on the Autobytel Websites is
  protected by law, including, but not limited to, United States Copyright Law and international treaties.
  The Autobytel Websites are controlled and operated by Autobytel from its offices within the United States.
  Autobytel makes no representation that materials available on the Autobytel Websites are appropriate or
  available for use in other locations, and access to them from territories where their contents are illegal
  is prohibited. Those who choose to access the Autobytel Websites from other locations do so at their own
  initiative and are responsible for compliance with applicable local laws.
</p>
<p>
  These Terms of Use may be amended from time to time without notice, in Autobytel’s sole discretion.
  Any changes to the Terms of Use will be effective immediately upon the posting of the revised
  Terms of Use on the Autobytel Websites. Please note that your use of certain materials and features
  of the Autobytel Websites may be subject to additional terms and conditions. By using those materials
  and features, you also agree to be bound by such additional terms and conditions.
</p>
<h3>Description of Autobytel Services</h3>
<p>
  Autobytel, an online leader offering consumer purchase requests and marketing resources to car dealers
  and manufacturers and providing consumers with the information they need to purchase new and used cars,
  pioneered the automotive Internet when it launched autobytel.com in 1995. Autobytel continues to offer
  innovative products and services to help consumers buy, and automotive dealers, manufacturers and other
  vehicle sellers (dealers, manufacturers and other vehicle sellers are collectively referred to herein as
  "<b>Vehicle Sellers</b>") sell, more used and new cars. Autobytel has helped tens of millions of automotive
  consumers research vehicles; connected thousands of dealers nationwide with motivated car buyers;
  and helped every major automaker market its brand online. Through its flagship website Autobytel.com® and
  <a href="http://www.car.com/" target="blank">Car.com</a>℠, Autobytel continues its dedication to innovating
  the industry's highest quality Internet programs to provide consumers with a comprehensive and positive
  automotive research and purchasing experience, and auto dealers, dealer groups and auto manufacturers with
  one of the industry's most productive and cost-effective customer referral and marketing programs. Autobytel
  offers valuable shopping and research features to help you buy, sell and maintain your automobile, including
  new and used car research, new and used car price quotes supplied by Dealers and Other Vehicle Sellers, used
  car vehicle listings, the MyGarage vehicle ownership experience, as well as information and links to providers
  of insurance, auto finance, and other products and services.
</p>
<p>
  As an online marketing and referral service for the automotive industry and for related products and services.
  <b>
    <u>
      Autobytel is NOT a Vehicle Seller, a broker or agent for Vehicle Sellers or a provider of or broker or agent
      for auto financing, insurance or other automotive-related products or services offered by third parties
    </u>
  </b>
  ("<b>Product and Service Providers</b>"). Content and information displayed on the Autobytel Websites is being
  provided for educational purposes only. The Autobytel Websites are designed to enable users to obtain online and
  offline price, payment and financing quotes from participating Vehicle Sellers and Product and Service.
  Autobytel does not provide these price or payment quotes and is not responsible for any such quotes or other
  information provided by Vehicle Sellers or Product and Service Providers All quotes are estimates only and exclude
  state and local taxes, as well as any state and local governmental charges, including without limitation,
  registration, license and title fees, documentary fees, emissions certification fees and added accessories you may
  choose to place on a vehicle. On occasion, errors by the Vehicle Sellers or Product and Service Providers may occur
  in the entry of condition, warranty, pricing and/or payment data that forms the basis of such quotes furnished
  through Autobytel Websites. Autobytel is not responsible for these errors, but works with Vehicle Sellers and
  Product and Service Providers to correct these errors when the come to Autobytel’s attention.
  <b>
    Autobytel plays no part in actual sales transaction or in brokering sales transactions and has no control over
    the quality or safety of the vehicles advertised, nor the truth or accuracy of vehicle descriptions (including
    condition or installed options or equipment), the actual availability of any specific vehicle listed or the truth
    or accuracy of descriptions of other products or services. In addition, Autobytel does not own or operate any
    services used for facilitating the actual sale or transfer of vehicles between buyers and sellers, including escrow
    services or title transfer services. Avoid any such service that claims to be operated by Autobytel.
  </b>
  You are encouraged to thoroughly review any documents you are asked to sign at the time of purchase or lease of a
  vehicle or the purchase of other products or services, as neither a Vehicle Seller nor a Product and Servicer Provider
  is prohibited from independently negotiating all of the terms and conditions of the final sale or lease. Any terms,
  conditions, warranties or representations in a written contract with the Vehicle Seller or Product and Service Provider
  are legally binding upon you.
  <b>
    <u>
      Autobytel is not a party to any transaction between you and a Vehicle Seller or a Product and Servicer Provider
      and makes no representations or warranties, implied or otherwise, with respect to any vehicles (including,
      without limitation, the condition of vehicles listed on an Autobytel Website) or any other products or services.
    </u>
  </b>
</p>
<p>
  Because Autobytel is only a distributor of content and other information provided by Vehicle Dealers and Product
  and Service Providers, in the event of any type of dispute over a vehicle or other product or services listed or
  displayed on an Autobytel Website, you agree that any reliance on content or information provided on an Autobytel
  Website is at your own risk, and unconditionally release Autobytel , its affiliated companies, and each of their
  respective officers, directors, employees, agents, service providers, content providers and licensors (“Autobytel Parties”)
  from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown,
  suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such dispute.
  Autobytel is not responsible for statements made by others on Autobytel Websites or on websites not owned or operated
  by Autobytel. Autobytel is not responsible for the accuracy, usefulness for a particular purpose or completeness of
  information provided by third parties that are available on or through the Autobytel Websites. A consumer’s purchase
  request or inquiry regarding a vehicle may have originated on a website that is not owned or operated by Autobytel and
  was referred to Autobytel by the third party owner or operator of the website. Autobytel is not responsible for any data,
  information, content or statements made or displayed on those third party websites. We invite you to bring to our attention
  any material on an Autobytel Website that you believe to be inaccurate. Please forward a copy of the material you believe
  to be inaccurate and the reasons for your belief
  to&nbsp;<a href="mailto:ConsumerCareabtl@autobytel.com">ConsumerCareabtl@autobytel.com</a>.
</p>
<h3>Privacy</h3>
<p>
  Autobytel reserves the right not to forward your purchase request to a Vehicle Seller or Product and Service Provider
  in its sole discretion. At its discretion, Autobytel will attempt to forward your request to one or more Vehicle Sellers,
  although Autobytel can not assure you that Autobytel will be able to match your request with a Vehicle Seller.
  In addition, Autobytel may elect to send your request to only one Vehicle Seller even if there is more than one
  Vehicle Seller available to provide to you a response to your purchase request. Autobytel may resell your purchase
  request to other Internet marketing services companies that may be able to match your request with a Vehicle Seller.
  In certain circumstances Autobytel may not be able to match your purchase request to any Vehicle Seller or alternative
  Internet marketing services company, in which event you will likely not hear back from Autobytel or anyone referred to
  you by Autobytel. When you do hear back from a Vehicle Seller or any one else Autobytel may refer your purchase request
  to please remember that Autobytel is not responsible for anything they may say to you or any agreement you may enter into
  with them. The statements made by any such person to you or any agreement you reach with them are strictly between you and
  them and Autobytel disclaims all responsibility.
</p>
<p>
  All transactions are conducted by and fulfilled through Vehicle Sellers that are not owned by or affiliated with Autobytel.
  <b><u>Autobytel does not guarantee vehicle prices or availability.</u></b>
  All vehicle descriptions and prices provided to you either on an Autobytel Website or via separate contact by a Vehicle Seller
  following your submission of a purchase request are made by the participating Vehicle Sellers and not by Autobytel. All vehicles
  prices and descriptions listed as available on an Autobytel Website under the Autobytel Used Car pages are established and
  electronically placed there by the participating Vehicle Seller that is offering the vehicle for sale or lease and not Autobytel.
  <b>
    ALL VEHICLES ARE SUBJECT TO PRIOR SALE AND MAY NOT BE AVAILABLE WHEN YOUR REQUEST IS PROCESSED.
    ALL PRICES AND TERMS ARE VALID ON DATE OF PUBLICATION ONLY.
  </b>
  All data and information used in our research tools for configuring vehicles, selecting options, determining pricing, invoice
  or incentives on this Website are supplied by third party vendors for educational purposes only and are not intended to be
  binding on Autobytel or the subscribing dealer. All tools appearing on this Website that allow for configuring vehicles with
  different options do so with such items that are typically available from the manufacturer and are typically available at local
  dealerships and may not be indicative of all of the configurations and equipment available on the vehicle being configured or the
  exact price(s) for a vehicle so equipped. Any discrepancies or mistakes made regarding vehicle availability, condition or pricing
  are not the responsibility of Autobytel and should be directed to the dealer or third party vendor responsible for providing the
  information. Autobytel does not guarantee either expressly or by implication that Autobytel will find a vehicle that meets your
  specifications. Exact matches can be extremely difficult to find because of geographic location, vehicle popularity, and limited
  production or factory-to-dealer allocations.
</p>
<h3>Referrals for Specialty Automotive Credit</h3>
<p>
  You are not required to apply for vehicle financing as a condition of your using an Autobytel Website or any of the products
  or services offered on an Autobytel Website. Independent third party lenders, and not Autobytel, provide all vehicle-financing
  programs and make all credit evaluations and decisions. Autobytel is not a lender, does not make credit evaluations or credit
  decisions and is not responsible for credit evaluations or decisions make by third party lenders. If you choose to apply for
  financing through one of the independent third party lenders that market their finance products and services on Autobytel Websites,
  you do so with this understanding. You will be asked to submit an application for credit and other documentation as the lender
  deems necessary in order to facilitate the loan. Payment information provided to you on Autobytel Websites is for educational
  purposes only and shall not be considered as final. Your qualification for financing and, if qualified, the actual terms of your
  financing will be based upon, among other things, the results of an independent credit evaluation performed by or on behalf of the
  third party lender, current prevailing interest rates, and the length and amount of the loan requested.
</p>
<h3>Referrals for Insurance</h3>
<p>
  You are not required to apply for vehicle insurance as a condition of your using an Autobytel Website or any of the products or
  services offered on an Autobytel Website. Independent third party insurance companies or their brokers or agents, and not Autobytel,
  provide all vehicle insurance programs. Autobytel is not an insurance company or broker or agent acting on behalf of any insurance
  company or for the consumer and is not responsible for insurance quotes or policies made or offered by third party insurance
  company’s or their brokers or agents. If you choose to apply for insurance through one of the independent third parties that market
  their insurance products and services on Autobytel Websites, you do so with this understanding. You will be asked to submit an
  application for quotes and other documentation as the third party deems necessary in order to facilitate the quote or policy.
  Payment information provided to you on Autobytel Websites is for educational purposes only and shall not be considered as final.
  Your qualification for insurance and, if qualified, the actual terms of your policy will be based upon, among other things, the
  results of an independent evaluation performed by or on behalf of the third party.
</p>
<p>
  The insurance coverage presented by participating insurers is designed to meet the insurance needs of a majority of consumers.
  Your particular circumstances may differ and thus may require additional information. By supplying these information resources,
  Autobytel.com is not making any recommendations or providing any advice as to whether or not any particular insurance coverage
  is suitable for your individual circumstance. Autobytel does not endorse or recommend any specific insurance company or coverage
  plan. Your decision to select any particular insurance company and coverage plan should be based upon your own assessment of your
  individual needs and the amount of insurance coverage that meets those needs. All premiums displayed are estimates and not guaranteed.
</p>
<h3>Referrals for Other Products and Services</h3>
<p>
  You are not required to purchase or subscribe to any product or service as a condition of your using an Autobytel Website or any
  of the products or services offered on an Autobytel Website. Independent third parties, and not Autobytel, offer these products
  and services Autobytel is not a broker, agent or retailer acting on behalf of any third party or for the consumer and is not
  responsible for any offers of products and services or for the products or services offered by third parties or their brokers
  or agents. If you choose to purchase or subscribe for any of these products or services, you do so with this understanding.
</p>
<h3>Advertising presented on Autobytel Websites</h3>
<p>
  Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through an
  Autobytel Website, including payment and delivery of related products or services, and any other terms, conditions,
  warranties or representations associated with such dealings, are solely between you and such advertiser. You acknowledge
  and agree that Autobytel.com will not be responsible or liable for any loss or damage of any sort incurred as the result
  of any such dealings or as the result of the presence of such advertising on an Autobytel Website.
</p>
<h3>Registration</h3>
<p>
  In order to access certain features of an Autobytel Website, you may be required to register for a website account
  ("<b>User Account</b>"). If you opt to register for a User Account, for example in our MyGarage section, you agree to:
  (i) provide true, accurate and complete information about yourself as prompted by the registration form; and
  (ii) maintain and promptly update such information to keep it true, accurate, current and complete as permitted through
  the functionality of the website. If Autobytel has reasonable grounds to suspect that the information you provided on the
  registration form or otherwise is untrue, inaccurate or incomplete or your use of the website is improper, all as determined
  by Autobytel in its sole discretion, Autobytel may suspend or terminate your User Account and refuse any and all current or
  future use of the website (or any portion thereof). You are responsible for all use of your User Account under any screen
  name or password by any person or entity and for ensuring that your User Account complies fully with the provisions of these
  Terms of Use. You will be responsible for protecting the confidentiality of your password. You acknowledge and agree that
  Autobytel may send you important information and notices regarding your account and the website by email, text messaging
  (if you opted in to receive this service and Autobytel provides it) or other means based on the information you provided.
  You acknowledge and agree that Autobytel will have no liability associated with or arising from your failure to maintain
  accurate information about yourself, including, but not limited to, your failure to receive important information and updates
  about the website. Autobytel may at any time, in its sole discretion, close any User Account for any reason or terminate any
  product or service that requires a User Account.
</p>
<h3>Rebates and Incentives</h3>
<p>
  Information regarding rebates or incentives as they appear on Autobytel Websites are provided to Autobytel from independent
  third party data providers and republished for educational benefit only. Autobytel relies on third party provides for this
  information and thus cannot be verified by Autobytel. Rebate and incentive information on Autobytel Websites should not be
  and is not intended to be a substitute for direct communication between you and the manufacturer or manufacturer's dealer/agent.
  Any regional and national cash incentives or rebates offered to consumers by the manufacturer are exclusively between you and the
  manufacturer or dealer and may affect the actual sale price of the vehicle. Autobytel does not participate in any such program
  and is not responsible for ensuring the incentive amount or your receipt of such benefits.
</p>
<h3>Proprietary Rights and Use Limitations</h3>
<p>
  Autobytel Websites are for your personal and non-commercial use. All materials on or available through Autobytel Websites,
  including, without limitation, names, logos, trademarks, images, text, columns, graphics, photographs, information or data,
  illustrations, artwork, software, clips and other elements making up a website (collectively, "<b>Content</b>") are protected
  by copyrights, trademarks and other intellectual property rights owned and controlled by Autobytel or by other parties that
  have licensed or otherwise provided their materials to Autobytel. You may not modify, copy, distribute, transmit, display,
  perform, reproduce, publish, license, create derivative works from, transfer, or sell any Content obtained from an Autobytel Website.
  The Content available through Autobytel Websites is the sole property of Autobytel or its licensors and is protected by patent,
  copyright, trademark and other intellectual property laws. Except as otherwise explicitly agreed in writing, Autobytel-owned content
  received through an Autobytel Website may be downloaded, displayed, and printed for your personal, non-commercial use only.
  Content owned by Autobytel licensors may be subject to additional restrictions. You agree not to reproduce, retransmit, distribute,
  disseminate, sell, publish, broadcast or circulate the content received through an Autobytel Website to anyone, including but not
  limited to others in the same company or organization, except as authorized by Autobytel by express prior written consent or in
  connection with your use of social media functions provided by Autobytel on Autobytel Websites.
</p>
<p>
  You have no right to use any names, marks, logos, copyright titles, trademarks, service marks or other property of Autobytel
  or any third party that provides Content to Autobytel for display on the Autobytel Websites, except as expressly provided herein.
  Any other trademarks or service marks and associated logos found herein are the trademarks or service marks of their respective
  owners. All rights not granted herein are hereby expressly reserved by Autobytel and its licensors.
</p>
<p>
  We respect the intellectual property of others. If you believe that your work, trademark or other intellectual
  property has been copied, displayed or otherwise infringed by us or by any third party on an Autobytel Website,
  please provide the written information specified below.
</p>
<ul>
  <li>
    A description of the copyrighted work, trademark or other intellectual property that you claim has been infringed upon;
  </li>
  <li>
    The reasons why you believe an infringement of your intellectual property has occurred;
  </li>
  <li>
    A description of where the material that you claim is infringing is located on an Autobytel Website, including
    the URL of the page on which it appears; and
  </li>
  <li>
    Your address, telephone number and e-mail address.
  </li>
</ul>
<p>Your written notice should be sent to Autobytel at the following address:</p>
<p>
  Autobytel Inc.<br />
  18872 MacArthur Blvd., Suite 200<br />
  Irvine, California 92612-1400<br />
  Attention: Legal Department
</p>
<h3>Submissions of User Generated Content</h3>
<p>
  Autobytel may permit written material, including but not limited to blogs, car ratings, dealership ratings, comments and
  reviews to be submitted by you and other users (collectively, "User Generated Content"). In order to submit User Generated
  Content to Autobytel, you must be a legal resident of the 50 United States or the District of Columbia who is of legal age
  of majority in your jurisdiction of residence (and at least 18 years of age). Certain features on Autobytel Websites that
  permit the submission of User-Generate Content only by using a third party service provider (such as Facebook, Twitter and
  DISQUS) that requires you to register and open an account with the service provider. By registering with the third party
  service provider you will be governed by the service provider’s terms and conditions of use and privacy policy in addition
  to being governed by these Terms of Use and Autobytel’s privacy policy.
</p>
<p>
  Autobytel respects the intellectual property of others and cooperates with all law enforcement authorities and complies with
  any governmental or judicial requests or orders requesting or directing Autobytel to disclose any information we have about the
  identity of anyone uploading, downloading, or posting materials, or otherwise using an Autobytel Website in violation of any
  applicable federal, state, or local laws. By making a submission of User-Generated Content, you agree and represent that such
  User-Generated Contents was originated by you and is accurate and that you own all right, title and interest in the User Generated
  Content. You may be required to provide documentation in a form acceptable to Autobytel evidencing such rights. You also agree that
  your User-Generated Content : (i) does not violate, and its use will not violate, the rights of any third party including any right
  of publicity, right of privacy or any other proprietary right of another; (ii) does not violate, and its use will not violate, any
  applicable federal, state or local law , rule or regulation; (iii) is not pornographic, obscene, indecent, profane, threatening,
  harassing, hateful, intimidating, abusive, defamatory, tortuous, fraudulent, or otherwise objectionable in any way, and does not
  encourage conduct that would constitute illegal activity or give rise to civil or criminal liability,; (iv) does not promote any
  activities that may appear unsafe or dangerous; (v) does not promote alcohol, illegal drugs, tobacco, firearms/weapons (or the use
  of the foregoing); (vi) does not post advertisements or solicitations of or for any business or commercial activity; (vii) does not
  contain copyrighted materials or trademarks, logos, or trade dress owned by others; and (viii) does not contain materials embodying
  the names, likenesses, voices, or other indicia identifying any person including, without limitation, celebrities and/or other public
  or private figures (or using look-alikes of the same), living or dead.
</p>
<p>
  You agree not to: (i) use an Autobytel Website, the Content (including, without limitation, User Generated Content), or any products
  or services included on or available through the Autobytel Websites for any unlawful purpose; (ii) restrict or inhibit any other user
  from using and enjoying the Autobytel Websites, including by means of disrupting the normal flow of dialogue, causing a screen to
  "scroll" faster than other users of the Autobytel Websites are able to type, hacking or defacing any portion of an Autobytel Website,
  introducing any virus, worm, Trojan Horse, Easter Egg, time bomb, spyware, or any other computer code, file, or program that may or is
  intended to damage or hijack the operation of any hardware, software, or telecommunications equipment, or otherwise acting in a manner
  that negatively affects other users' ability to engage in real time exchanges; (iii) post or transmit any advertisements, solicitations,
  chain letters, pyramid schemes, investment opportunities or schemes or other unsolicited commercial communication or engage in spamming
  or flooding; (iv) impersonate any other person or entity, or misrepresent your affiliation with any other person or entity; or (v) use
  any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, "data mine,"
  or in any way reproduce or circumvent the navigational structure or presentation of an Autobytel Website or any Content on an Autobytel
  Website. You agree not to solicit, for commercial purposes, any users of an Autobytel Website with respect to their User Generated Content.
</p>
<p>
  If you submit User Generated Content to an Autobytel Website, you hereby grant to Autobytel and its designees and licensees a perpetual,
  irrevocable, non-exclusive, fully-paid up, royalty free, sublicenseable and transferable license to use the User Generated Content for
  all purposes, in any and all media now or hereafter known throughout the universe without restrictions of any kind or any approvals or
  consents required from you or any third party. For example, the above license grant permits Autobytel and its designees and licensees to
  use all or only certain portions of your User Generated Content that you provide, and/or incorporate other materials, either created by
  Autobytel or licensed from others, with your User Generated Content. If Autobytel creates other or derivative works using your User
  Generated Content, those works will be owned by Autobytel and may be used in accordance with the Terms of Use, and shall not be subject
  to your further approval or give rise to any obligation on the part of Autobytel or its designees and licensees to account to you or pay
  you for use. You also hereby grant each user of an Autobytel Website a non-exclusive license to access your User Generated Content through
  an Autobytel Website, and to display and perform such User Generated Content as permitted through the functionality of the Autobytel
  Websites and under these Terms of Use. You will not have any claim against Autobytel, its designees, licensees or users with respect to
  such use of the User Generated Content, and to the extent, a claim is made against Autobytel or any of our designees, licensees or users
  by any third party with respect to any User Generated Content you submit, you agree to indemnify and hold Autobytel and its officers,
  directors, shareholders, employees, agents, affiliated entities, licensees, designees and users harmless with respect to any such claims,
  including, without limitation, attorneys’ costs and expenses incurred in connection therewith. Autobytel will have no liability to you or
  anyone else resulting from our failure or refusal to remove a User Generated Content. If it is determined that you have, at any time,
  violated any of the foregoing provisions, you may thereafter be barred from submitting or posting any further User Generated Content on
  Autobytel Websites or from using or accessing our tools, and Autobytel may pursue its rights and any remedies available under these Terms
  of Use, at law or in equity. When you submit User Generated Content, you understand that Autobytel will have the right, but not the
  obligation, to use, display and publish your name, likeness, biographical information and/or statements, throughout the world in
  perpetuity in any media that now exists or may exist in the future including for advertising and promotional purposes by Autobytel and
  its related entities. If Autobytel makes use of any of the foregoing rights, you understand and agree that you shall not receive any
  other consideration, or payment, notification or credit, nor will you have any approval over how Autobytel uses the foregoing rights.
  You understand that whether or not such User Generated Content is published or otherwise used, Autobytel does not guarantee any
  confidentiality with respect to any submissions to an Autobytel Website.
</p>
<p>
  Autobytel may reject any User Generated Content it determines does not to meet any of the criteria set forth above. Also, Autobytel
  reserves the rights not to accept and to remove any User Generated Content for any reason, or no reason at all, in its sole discretion,
  including but not limited to a determination by Autobytel that the User Generated Content does not comply with these Terms of Use or is
  not otherwise appropriate for an Autobytel Website. Autobytel will not advise you as to the reason why your User Generated Content has
  not been accepted or why it has been removed. Autobytel may elect to post User Generated Content that Autobytel believes does not violate
  the intent or purpose of these Terms of Use (e.g., incidental or insignificant uses of trademarks, logos, or copyrighted items) or
  otherwise make use of User Generated Content s as provided under these Terms of Use. Autobytel reserves the right in its sole discretion,
  but undertakes no duty or obligation, to monitor, review, edit, move or delete any material (including, without limitation, User Generated
  Content) provided for display or placed on an Autobytel Website. Autobytel reserves the right at any time and from time to time to
  discontinue, temporarily or permanently, the acceptance of User Generated Content or the ability to access User Generated Content with or
  without notice in its sole discretion. You agree that Autobytel shall not be liable to you or to any third party for any suspension or
  discontinuance of acceptance of User Generated Content.
</p>
<h3>Liability Disclaimer</h3>
<p>
  ALL CONTENT OR INFORMATION PROVIDED ON AUTOBYTEL WEBSITES IS FOR EDUCATIONAL PURPOSES ONLY AND DOES NOT IN ANY MANNER CREATE A LEGAL
  CONTRACT EXPRESS OR IMPLIED BETWEEN AUTOBYTEL AND YOU. IF YOU RELY ON AN AUTOBYTEL WEBSITE OR ANY CONTENT, INFORMATION, PRODUCT OR
  SERVICE AVAILABLE THROUGH AN AUTOBYTEL WEBSITE, YOU DO SO AT YOUR OWN RISK. YOU UNDERSTAND THAT THERE MAY BE DELAYS, OMISSIONS,
  INTERRUPTIONS, INACCURACIES, ERRORS AND/OR OTHER PROBLEMS WITH THE CONTENT, INFORMATION, PRODUCTS, AND SERVICES DISPLAYED ON OR
  PROMOTED OVER THE AUTOBYTEL WEBSITES. AUTOBYTEL WEBSITES ARE PROVIDED TO YOU "AS IS" WITHOUT ANY WARRANTY OF ANY KIND, AND ALL
  WARRANTIES, EXPRESS OR IMPLIED, ARE HEREBY DISCLAIMED. NEITHER AUTOBYTEL NOR ITS AFFILIATES, AGENTS AND LICENSORS, REPRESENT OR
  WARRANT THE ACCURACY, COMPLETENESS, CURRENTNESS, NONINFRINGEMENT, TITLE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE OF
  THE CONTENT OR INFORMATION AVAILABLE THROUGH THE AUTOBYTEL WEBSITES (OR ANY CONTENT, INFORMATION, PRODUCTS OR SERVICES THAT ARE
  REFERRED TO, ADVERTISED OR PROMOTED ON, OR SOLD THROUGH AN AUTOBYTEL WEBSITE). NOR DO WE OR THEY GUARANTEE THAT THE AUTOBYTEL WEBSITES
  WILL BE ERROR FREE, OR CONTINUOUSLY AVAILABLE, OR THAT AN AUTOBYTEL WEBSITE WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
  AUTOBYTEL AND ITS AFFILIATES, AGENTS OR LICENSORS WILL NOT BE LIABLE FOR ANY CLAIMS, ACTIONS OR JUDGMENTS ARISING OUT OF OR RELATED
  TO ANY CONTENT POSTED TO AN AUTOBYTEL WEBSITE BY YOU OR ANY OTHER THIRD PARTY.
</p>
<p>
  UNDER NO CIRCUMSTANCES WILL AUTOBYTEL OR ITS AFFILIATES, AGENTS OR LICENSORS BE LIABLE TO YOU OR ANYONE ELSE FOR ANY DAMAGES OTHER
  THAN DIRECT DAMAGES, ARISING OUT OF YOUR USE OF ANY AUTOBYTEL WEBSITE OR ANY PRODUCT OR SERVICE LINKED TO FROM OR ADVERTISED OR
  PROMOTED ON AN AUTOBYTEL WEBSITE, INCLUDING, WITHOUT LIMITATION, CONSEQUENTIAL, SPECIAL, INCIDENTAL, INDIRECT, PUNITIVE, EXEMPLARY,
  OR OTHER DAMAGES OF ANY KIND (INCLUDING LOST REVENUES OR PROFITS, LOSS OF BUSINESS OR LOSS OF DATA), EVEN IF WE ARE ADVISED BEFOREHAND
  OF THE POSSIBILITY OF SUCH DAMAGES. YOU AGREE THAT THE LIABILITY OF AUTOBYTEL AND ITS AFFILIATES, AGENTS AND LICENSORS, IF ANY, ARISING
  OUT OF ANY KIND OF LEGAL CLAIM ARISING OUT OF OR OTHERWISE RELATED TO AN AUTOBYTEL WEBSITE WILL NOT EXCEED THE AMOUNT YOU PAID, IF ANY,
  FOR THE USE OF THE AUTOBYTEL WEBSITE OUT OF WHICH SUCH LIABILITY ALLEGEDLY ARISES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE
  EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SOME OF THESE LIMITATIONS MAY NOT APPLY TO YOU. YOU AGREE
  TO INDEMNIFY AND HOLD HARMLESS AUTOBYTEL, ITS AFFILIATES, EMPLOYEES, OFFICERS, DIRECTORS, SHAREHOLDERS, REPRESENTATIVES, AGENTS,
  SUPPLIERS AND LICENSORS AGAINST ANY AND ALL CLAIMS, OF WHATEVER NATURE, THAT ARISE OUT OF ANY CONTENT YOU PLACE ON ANY AUTOBYTEL SITE.
</p>
<h3>No Unlawful or Prohibited Use</h3>
<p>
  As a condition of your use of any Autobytel Website, you warrant to Autobytel that you will not use any Autobytel Website for any
  purpose that is unlawful or prohibited by these terms, conditions, and notices.
</p>
<h3>Modification of These Terms of Use</h3>
<p>
  Autobytel reserves the right to change the terms, conditions, and notices under which Autobytel Websites are offered
  at any time without notice. By continuing to use an Autobytel Website following our posting of any such change, you
  agree to be bound by these Terms of Use as changed.
</p>
<h3>General Terms</h3>
<p>
  These Terms of Use and your use of the Autobytel Websites is governed by the laws of the State of California, USA. You hereby consent
  to the exclusive jurisdiction and venue of courts in Orange County, California, USA in all disputes arising out of or relating to the
  use of any Autobytel Website. Use of any Autobytel Website is unauthorized in any jurisdiction that does not give effect to all
  provisions of these Terms of Use, including without limitation this paragraph. You agree that no joint venture, partnership, employment,
  or agency relationship exists between you and Autobytel as a result of these Terms of Use or your use of an Autobytel Website.
  Autobytel's performance of these Terms of Use is subject to existing laws and legal process, and nothing contained in these Terms of Use
  is in derogation of Autobytel's right to comply with law enforcement requests or requirements relating to your use of an Autobytel Website
  or information provided to or gathered by Autobytel with respect to such use. If any part of these Terms of Use is determined to be
  invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set
  forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely
  matches the intent of the original provision and the remainder of these Terms of Use shall continue in effect. These Terms of Use
  constitute the entire agreement between you, the user, and Autobytel with respect to the Autobytel Websites and they supersede all prior
  or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Autobytel with respect to the
  Autobytel Websites. A printed version of these Terms of Use and of any notice given in electronic form shall be admissible in judicial
  or administrative proceedings based upon or relating to these Terms of Use to the same extent and subject to the same conditions as other
  business documents and records originally generated and maintained in printed form.
</p>
<p>Any rights not expressly granted by Autobytel herein are reserved by Autobytel.</p>
<p>
  Questions regarding these Terms of Use should be sent to&nbsp;<a href="mailto:consumercare@autobytel.com">consumercare@autobytel.com</a>
</p>