<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
  
    <!-- !** Database Connection Strings **! -->
    <add key="ConnectionString:StoneAge"
         value="Server=sqldev201.dev.autobytel.com\finance;Database=StoneAge;Trusted_Connection=true;" />
    <add key="ConnectionString:VehicleContent"
         value="Server=sqldev201.dev.autobytel.com;Database=VehicleContent;Trusted_Connection=true;" />
  
  </appSettings>
</configuration>