<?xml version="1.0"?>
<appSettings>

  <!-- !** Database Connection Strings **! -->
  <add key="ConnectionString:StoneAge" 
       value="Server=sqldev201.dev.autobytel.com\finance;Database=StoneAge;Trusted_Connection=true;" />
  <add key="ConnectionString:VehicleContent"
       value="Server=sqldev201.dev.autobytel.com;Database=VehicleContent;Trusted_Connection=true;" />

  <!-- !** Configurations for SEM Service **! -->
  <add key="SemService:Endpoint" value="ccfinwebdev201.dev.autobytel.com/services/SemService/lead.asmx" />
  <add key="SemService:Username" value="RdgHkD" />
  <add key="SemService:Password" value="Cs3WyRhP$" />
  <add key="SemService:SourceId" value="2370" />


  <!-- !** Configurations for Affiliate Service **! -->
  <add key="AffiliateService:Endpoint" value="ccfinwebdev201.dev.autobytel.com/services/SemService/lead.asmx" />
  <add key="AffiliateService:SourceId" value="2370" />
  

  <!-- !** Configurations for LeadData Service **! -->
  <add key="LeadDataService:LocalCacheLead_mins" value="30" />
  <add key="LeadDataService:RefiSourceIds:ReCacheInterval_mins" value="10" />

  <!-- !** Configurations for VehicleSpec Service **! -->
  <add key="VehicleSpecService:RefiSourceIds:ReCacheInterval_mins" value="60" />
  
  
  <!-- !** Configurations for Cacheability TTLs **! -->
  <add key="Cacheability:Timeouts:Downstream"
       value="shortest=10-secs;ultra_short=30-secs;extra_short=60-secs;short=5-mins;medium=15-mins;long=30-mins;longer=60-mins;extra_long=4-hrs;super_long=8-hrs;ultra_long=24-hrs;longest=7-days" />

  <add key="Cacheability:Timeouts:Edge"
       value="shortest=20-secs;ultra_short=60-secs;extra_short=2-mins;short=10-mins;medium=25-mins;long=45-mins;longer=90-mins;extra_long=6-hrs;super_long=12-hrs;ultra_long=30-hrs;longest=30-days" />

</appSettings>
